<html>
    <body>
        <main>
            <div class="container">
                <div class="form-container">
                <form [formGroup]="subscriberForm">
                
                  <h3>Supervisor Information</h3>
                  <!-- Dropdown of available supervisors -->
                 <mat-form-field appearance="outline">
                    <mat-label>Choose a Supervisor</mat-label>
                    <mat-select [(ngModel)]="selectedSupervisor" [ngModelOptions]="{standalone: true}">
                      <mat-option *ngFor="let item of supervisors" [value]="item">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <!-- Information of that Supervisor for clarity -->
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label> Phone Number
                    </mat-label>
                    <input readonly matInput [(ngModel)]="selectedSupervisor.phoneNumber" [ngModelOptions]="{standalone: true}">
                  </mat-form-field>

                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label> E-mail
                    </mat-label>
                    <input readonly matInput [(ngModel)]="selectedSupervisor.email" [ngModelOptions]="{standalone: true}">
                  </mat-form-field>

                  <h3>Subscriber Information</h3>
                  <!-- User Input Form -->
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label> Name
                    </mat-label>
                    <input matInput formControlName="name">
                  </mat-form-field>

                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label> E-mail
                    </mat-label>
                    <input matInput formControlName="email">
                  </mat-form-field>

                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label> Phone Number
                    </mat-label>
                    <input matInput formControlName="phoneNumber">
                  </mat-form-field>

                  <!-- Reset form button -->
                  <button mat-raised-button color="warn" type="reset" (click)="resetForm()">Reset Form</button>
                  <!-- Submit Form button -->
                  <button mat-raised-button color="primary" [disabled]="!subscriberForm.valid || selectedSupervisor.id == null" (click)="saveSubscribers()" type="submit">Submit</button>
            </form>
            </div>
            </div>
        </main>
    </body>
</html>